---
interface Props {
	logo: string;
	title: string;
	body: string;
	href: string;
	arrow?: boolean;
}

const { logo, title, body, href, arrow = true } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<div><Fragment set:html={logo} /></div>
		<div>
			<h2>
				{title}
				{arrow && <span>&rarr;</span>}
			</h2>
			<p>
				{body}
			</p>
	  </div>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: var(--secondary-bg);
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		display: flex;
		align-items: center;
		gap: 16px;
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: var(--primary-text-color);
		background-color: var(--secondary-bg);
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		opacity: 0.8;
		transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) p {
		opacity: 1;
	}
</style>
