---
import SiteMenu from "./SiteMenu.astro";
---

<header>
  <h3 class="site-title"><a href="/">代码笔记</a></h3>
  <SiteMenu />
</header>

<style lang="less">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #fff;

    .site-title {
      font-size: 20px;
      a {
        color: var(--primary-text-color);
      }
    }
  }
</style>
