---
import SiteMenu from "./SiteMenu.vue";
---
<header>
  <h3 class="site-title"><a href="/">代码<span class="text-gradient">笔记</span></a></h3>
  <SiteMenu client:only />
</header>

<style lang="less">
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    color: #fff;

    .site-title {
      a {
        color: var(--primary-text-color);
      }
    }
  }
</style>