---
const menus = [
  {
    name: "博客",
    href: "#",
  },
  {
    name: "项目",
    href: "#",
  },
  {
    name: "联系",
    href: "#",
  },
];
---

<nav class="flex items-center gap-0">
  {
    menus.map((menu) => {
      return (
        <a
          href={menu.href}
          class="px-4 py-1 rounded-full cursor-pointer transition-all hover:bg-primary hover:text-primary-foreground hover:shadow"
        >
          {menu.name}
        </a>
      );
    })
  }
</nav>
