---
import SiteHeader from '../components/SiteHeader.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <!-- 添加is:inline, 阻塞渲染，避免页面闪烁 -->
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
				}
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					return "dark";
				}
				return "light";
			})();

			if (theme === "light") {
				document.documentElement.classList.remove("dark");
			} else {
				document.documentElement.classList.add("dark");
			}
		</script>
	</head>
	<body>
    <SiteHeader />

		<!-- 内容区域 -->
		<slot />
		<script async src="https://stat.yangfuzhang.online/script.js" data-website-id="d2b84f0c-b7dd-44e1-9a0f-73f24815370c"></script>
	</body>
</html>

<style is:global>
	:root {
		--primary-bg: #fff;
		--secondary-bg: #f1f1f1;
		--primary-text-color: #333;
		--secondary-text-color: #fff;
		--link-color: #1a0dab;
		--markdown-blockquote-color: #555;
		--accent: 126, 48, 224;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 50%,
			white 60%
		);
	}

	:root.dark {
		--primary-bg: #13151a;
		--secondary-bg: #23262d;
		--primary-text-color: #eee;
		--link-color: rgb(173, 137, 226);
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		background: var(--primary-bg);
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	
	img {
		max-width: 100%;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	@media (prefers-reduced-motion:no-preference) {
		::view-transition-old(root),
		::view-transition-new(root) {
			animation: none;
			mix-blend-mode: normal;
			display: block;
		}
		::view-transition-old(root) {
			z-index: 1;
		}
		::view-transition-new(root) {
			z-index: 9999;
		}
		.dark::view-transition-old(root) {
			z-index: 9999;
		}
		.dark::view-transition-new(root) {
			z-index: 1;
		}
	}
</style>
